# OS
.DS_Store

# Build outputs
/build/classes/
/build/tools/
/build/tmp/
/build/*.class

# Eclipse local files
/.project
/.classpath

# Eclipse settings (keep WTP shared config only)
# ignore local-only prefs
/.settings/.jsdtscope
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.wst.jsdt.ui.superType.container
/.settings/org.eclipse.wst.jsdt.ui.superType.name

# Optional logs
*.log